<h1 class="text-center">
  {{title}}
  <a routerLink="/userPage/{{this.messengerService.messaging.user2Name}}">
    {{this.messengerService.messaging.user2Name}}
  </a>
</h1>

<div class="container border border-primary rounded overflow-hidden">
  <div class="row align-items-start messanger">

    <messaging-cards-list class="messaging-cards-list col-3"
                          [messagingCards]="messengerService.messagingCards"
                          [destinationName]="messengerService.messaging.user2Name">
    </messaging-cards-list>

    <div class="col-9">
      <messaging-area [messaging]="messengerService.messaging"></messaging-area>

      <send-message-form [destinationName]="messengerService.messaging.user2Name"></send-message-form>
    </div>

  </div>
</div>
