<br />

<div class="container">

  <h1 class="text-center">{{title}}</h1>

  <div class="row align-items-start">

    <div class="col">
      <h4><b>{{idStr}}</b> {{userModel.id}}</h4>
      <h4><b>{{usernameStr}}</b> {{userModel.userName}}</h4>

      <h4><b>{{biographiStr}}</b></h4>
      <span class="fs-5" innerHtml="{{getInnerHtmlByString(userModel.biographi)}}"></span>

      <hr class="bg-danger border-2 border-top border-danger">

      <button *ngIf="isMyPage" type="button" class="btn btn-primary" [style.margin]="'0 .5vw 0 0'" routerLink="/accountPage">
        {{editAccountStr}}
      </button>

      <button type="button" class="btn btn-primary"
              routerLink="/messengerPage" [queryParams]="{'companionName': userModel.userName}">
        {{sendMessageStr}}
        <svg xmlns="http://www.w3.org/2000/svg" width="3vh" height="3vh" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
        </svg>
      </button>

    </div>

    <div class="col">
      <div class="avatar-with-button">
        <img src="/api/file/avatar/{{userModel.avatarFileName ?? 'default_avatar.png'}}" class="avatar-on-profile" />
      </div>

      <br />
    </div>

    <hr class="bg-danger border-2 border-top border-danger" *ngIf="postsData.posts.length">

    <h1 class="text-center">{{postsTitle}}</h1>

    <br />

    <p class="text-center" *ngIf="pageCount == 1; else unset0"></p>

    <ng-template #unset0>
      <p class="text-center" *ngIf="pageCount <= 3; else unset1">
        &nbsp;
        <label *ngFor="let i of pageNumbersArr(1, pageCount)">
          <a class="link" [class.text-danger]="i - 1 == pageNumber" [style.cursor]="'pointer'"
             (click)="pageNumber = i - 1; downloadPosts()">{{i}}</a>
          &nbsp;
        </label>
      </p>
    </ng-template>

    <ng-template #unset1>
      <p class="text-center" *ngIf="pageNumber < 2; else unset2">
        &nbsp;
        <label *ngFor="let i of pageNumbersArr(1, 3)">
          <a class="link" [class.text-danger]="i - 1 == pageNumber" [style.cursor]="'pointer'"
             (click)="pageNumber = i - 1; downloadPosts()">{{i}}</a>
          &nbsp;
        </label>

        <label>...</label>&nbsp;

        <label>
          <a class="link" [style.cursor]="'pointer'"
             (click)="pageNumber = pageCount - 1; downloadPosts()">{{pageCount}}</a>
          &nbsp;
        </label>
      </p>
    </ng-template>

    <ng-template #unset2>
      <p class="text-center" *ngIf="2 <= pageNumber && pageNumber < pageCount - 2; else unset3">
        &nbsp;
        <label>
          <a class="link" [style.cursor]="'pointer'"
             (click)="pageNumber = 0; downloadPosts()">1</a>
          &nbsp;
        </label>

        <label>...</label>&nbsp;

        <label *ngFor="let i of pageNumbersArr(pageNumber, pageNumber + 2)">
          <a class="link" [class.text-danger]="i - 1 == pageNumber" [style.cursor]="'pointer'"
             (click)="pageNumber = i - 1; downloadPosts()">{{i}}</a>
          &nbsp;
        </label>

        <label>...</label>&nbsp;

        <label>
          <a class="link" [style.cursor]="'pointer'"
             (click)="pageNumber = pageCount - 1; downloadPosts()">{{pageCount}}</a>
          &nbsp;
        </label>
      </p>
    </ng-template>

    <ng-template #unset3>
      <p class="text-center">
        &nbsp;
        <label>
          <a class="link" [style.cursor]="'pointer'"
             (click)="pageNumber = i - 1; downloadPosts()">1</a>
          &nbsp;
        </label>

        <label>...</label>&nbsp;

        <label *ngFor="let i of pageNumbersArr(pageCount - 2, pageCount)">
          <a class="link" [class.text-danger]="i - 1 == pageNumber" [style.cursor]="'pointer'"
             (click)="pageNumber = i - 1; downloadPosts()">{{i}}</a>
          &nbsp;
        </label>
      </p>
    </ng-template>

    <br />

    <div *ngFor="let post of postsData.posts">

      <post [postModel]="post"></post>

      <br />

    </div>

  </div>

</div>
