<div class="message-block container border border-primary rounded overflow-hidden"
     [class.companion-message]="message.authorName != myName"
     [class.my-message]="message.authorName == myName">
  <div class="row align-items-start">

    <div class="col">
      <a routerLink="/userPage/{{message.authorName}}" class="fst-italic">
        {{message.authorName}}
      </a>:

      {{message.text}}
    </div>

    <div class="col text-end">
      <label class="fst-italic text-muted">{{message.postedAt | date:'dd.MM.YY HH:mm:ss'}}</label>
      &nbsp;
      <svg *ngIf="message.notViewed" color="#007bff"
           xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
      </svg>
      <svg *ngIf="!message.notViewed" color="#007bff"
           xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
        <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z" />
        <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z" />
      </svg>
    </div>

  </div>

  <div class="row align-items-start" *ngIf="message.fileName">
    <div class="col">
      {{attachedFileStr}}:
      <a href="/api/file/file/{{message.fileName}}">
        {{message.fileName}} &#11123;
      </a>
    </div>
  </div>

  <div class="row align-items-start" *ngIf="message.imageFileName">
    <div class="col">
      <img src="/api/file/image/{{message.imageFileName}}"
           [style.max-width]="'50vw'" [style.max-height]="'50vh'" [style.margin-bottom]="'.25vw'" />
    </div>
  </div>
</div>

