<br />

<div class="container">
  <div class="row justify-content-center" name="addPostForm">

    <form class="col-8">

      <h1 class="text-center">{{formTitle}}</h1>

      <div class="mb-3">
        <label for="title" class="form-label">{{titleStr}}</label>
        <input type="text" class="form-control" name="title" [(ngModel)]="postModel.title"
               #title="ngModel" required
               (ngModelChange)="resetServerError()">
        <span for="title" [hidden]="(title.valid || title.untouched) && !serverError" class="text-danger">
          {{firstSpanError}}
        </span>
      </div>

      <div class="mb-3">
        <label for="text" class="form-label">{{textStr}}</label>
        <textarea type="text" class="form-control" name="text" [(ngModel)]="postModel.text"
                  #text="ngModel" required
                  (ngModelChange)="resetServerError()"
                  rows="5"></textarea>
        <span for="text" [hidden]="(text.valid || text.untouched) && !serverError" class="text-danger">
          {{emptyTextStr}}
        </span>
      </div>

      <div class="mb-3">
        <label for="imageFiles" class="form-label">{{imageFilesStr}}</label>
        <input type="file" multiple accept="image/*" name="imageFiles"
               class="form-control" [(ngModel)]="postModel.imageFiles"
               #imageFiles="ngModel" (ngModelChange)="resetServerError()">
      </div>

      <div class="mb-3" *ngFor="let dateTime of postModel.performServiceOnDatesList; let i = index">
        <label for="performServiceOnDatesList[{{i}}]" class="form-label">{{performServiceOnDatesListStr}} №{{i + 1}}</label>
        <div class="input-group">
          <input type="datetime-local" class="form-control" name="performServiceOnDatesList[{{i}}]" [(ngModel)]="postModel.performServiceOnDatesList[i]"
                 performServiceOnDatesList="ngModel"
                 (ngModelChange)="resetServerError()">
          <span class="input-group-btn">
            <button type="button" class="btn btn-danger" [style.margin]="'0 0 0 .5vw'" (click)="deleteDataTimeItem(i)">
              <div type="button" class="btn-close btn-close-white" aria-label="Close"></div>
            </button>
          </span>
        </div>
      </div>

      <button type="button" class="btn btn-primary" (click)="addDataTimeItem()">
        {{addDateTimeItemButton}}
      </button>

      <br /><br />

      <div class="mb-3">
        <label for="imageFiles" class="form-label">{{performServiceInPlaceStr}}</label>
        <br />
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d325518.6878344305!2d30.252510061496128!3d50.401699044222816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNC10LIsINCj0LrRgNCw0LjQvdCwLCAwMjAwMA!5e0!3m2!1sru!2sru!4v1657428408777!5m2!1sru!2sru"
                class="w-100" [style.height]="'50vh'">
        </iframe>
      </div>

      <br /><br />

      <button type="button" class="btn btn-primary" (click)="submitForm()">
        {{formSubmitButton}}
      </button>

    </form>

  </div>
</div>
