.send-message-box {
  height: 15vh;
  display: flex;

  .form-block {
    width: 100%;
    margin: auto;

    form {
      #image-input {
        display: none;
      }

      #file-input {
        display: none;
      }
    }
  }
}
