<br />

<div class="container">

  <h1 class="text-center">{{title}}</h1>

  <br />

  <div class="row justify-content-center">
    <div class="col-6">
      <form class="d-flex">
        <input class="form-control me-2" type="search" name="search" [(ngModel)]="keywords">
        <button class="btn btn-outline-primary" type="submit" (click)="search()">{{searchStr}}</button>
      </form>
    </div>
  </div>

  <br />

  <div class="row justify-content-center">
    <div [class.col-4]="geomarker" [class.col-3]="!geomarker">
      <span class="input-group">
        <input type="date" class="form-control" name="date" [(ngModel)]="date" (ngModelChange)="search()" date="ngModel">
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary"
                  data-bs-toggle="modal" data-bs-target="#search-geomarker-form-modal"
                  [style.margin]="'0 0 0 .5vw'">
            <svg xmlns="http://www.w3.org/2000/svg" width="3vh" height="3vh" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            </svg>
            <span *ngIf="geomarker">: @{{geomarker}}</span>
          </button>
        </span>
      </span>
    </div>
  </div>

  <br />

  <p class="text-center" *ngIf="pageCount == 1; else unset0"></p>

  <ng-template #unset0>
    <p class="text-center" *ngIf="pageCount <= 3; else unset1">
      &nbsp;
      <label *ngFor="let i of pageNumbersArr(1, pageCount)">
        <a [class.text-danger]="i - 1 == pageNumber"
           routerLink="/" [queryParams]="{'keywords': keywords, 'date': date, 'geomarker': geomarker, 'pageNumber': i - 1}">{{i}}</a>
        &nbsp;
      </label>
    </p>
  </ng-template>

  <ng-template #unset1>
    <p class="text-center" *ngIf="pageNumber < 2; else unset2">
      &nbsp;
      <label *ngFor="let i of pageNumbersArr(1, 3)">
        <a [class.text-danger]="i - 1 == pageNumber"
           routerLink="/" [queryParams]="{'keywords': keywords, 'date': date, 'geomarker': geomarker, 'pageNumber': i - 1}">{{i}}</a>
        &nbsp;
      </label>

      <label>...</label>&nbsp;

      <label>
        <a routerLink="/" [queryParams]="{'keywords': keywords, 'date': date, 'geomarker': geomarker, 'pageNumber': pageCount - 1}">{{pageCount}}</a>
        &nbsp;
      </label>
    </p>
  </ng-template>

  <ng-template #unset2>
    <p class="text-center" *ngIf="2 <= pageNumber && pageNumber < pageCount - 2; else unset3">
      &nbsp;
      <label>
        <a routerLink="/" [queryParams]="{'keywords': keywords, 'date': date, 'geomarker': geomarker, 'pageNumber': 0}">1</a>
        &nbsp;
      </label>

      <label>...</label>&nbsp;

      <label *ngFor="let i of pageNumbersArr(pageNumber, pageNumber + 2)">
        <a [class.text-danger]="i - 1 == pageNumber"
           routerLink="/" [queryParams]="{'keywords': keywords, 'date': date, 'geomarker': geomarker, 'pageNumber': i - 1}">{{i}}</a>
        &nbsp;
      </label>

      <label>...</label>&nbsp;

      <label>
        <a routerLink="/" [queryParams]="{'keywords': keywords, 'date': date, 'geomarker': geomarker, 'pageNumber': pageCount - 1}">{{pageCount}}</a>
        &nbsp;
      </label>
    </p>
  </ng-template>

  <ng-template #unset3>
    <p class="text-center">
      &nbsp;
      <label>
        <a routerLink="/" [queryParams]="{'keywords': keywords, 'date': date, 'geomarker': geomarker, 'pageNumber': 0}">1</a>
        &nbsp;
      </label>

      <label>...</label>&nbsp;

      <label *ngFor="let i of pageNumbersArr(pageCount - 2, pageCount)">
        <a [class.text-danger]="i - 1 == pageNumber"
           routerLink="/" [queryParams]="{'keywords': keywords, 'date': date, 'geomarker': geomarker, 'pageNumber': i - 1}">{{i}}</a>
        &nbsp;
      </label>
    </p>
  </ng-template>

  <br />

  <div *ngFor="let post of postsData.posts">

    <post [postModel]="post"></post>

    <br />

  </div>

  <search-geomarker-form (onSetGeomarker)="setGeomarker($event)" (onDeleteGeomarker)="deleteGeomarker()">
  </search-geomarker-form>

</div>
