<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 border border-2 border-primary position-relative">

      <i>ID: {{postModel.id}}</i>

      <a routerLink="/postPage/{{postModel.id}}">
        <h3 class="text-center" [innerHtml]="titleInnerHTML"></h3>
      </a>

      <div class="post-text" [innerHtml]="textInnerHTML"></div>

      <br />

      <div id="carouselSlides{{postModel.id}}" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button *ngFor="let imageName of imageFileNamesArr; let i = index"
                  type="button" attr.data-bs-target="#carouselSlides{{postModel.id}}"
                  [attr.data-bs-slide-to]="i" [class.active]="currentImageNumber == i"
                  [attr.aria-current]="currentImageNumber == i" attr.aria-label="Slide {{i}}">
          </button>
        </div>
        <div class="carousel-inner">
          <div *ngFor="let imageName of imageFileNamesArr; let i = index" class="carousel-item" [class.active]="currentImageNumber == i">
            <img src="/api/file/image/{{imageName}}" class="rounded mx-auto d-block post-image" [alt]="imageName">
          </div>
          <button class="carousel-control-prev" type="button" attr.data-bs-target="#carouselSlides{{postModel.id}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{prevStr}}</span>
          </button>
          <button class="carousel-control-next" type="button" attr.data-bs-target="#carouselSlides{{postModel.id}}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{nextStr}}</span>
          </button>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-6">
          <p>{{datesStr}}:</p>
          <ul>
            <li *ngFor="let dateTime of postModel.performServiceOnDatesList">
              {{dateTime | date:'dd.MM.YY HH:mm:ss'}}
            </li>
          </ul>
        </div>
        <div class="col-6 text-end">
          <a href="https://www.google.com/maps/@{{postModel.performServiceInPlaceLat}},{{postModel.performServiceInPlaceLng}},{{postModel.performServiceInPlaceZoom}}z">
            {{placeStr}}
            <svg xmlns="http://www.w3.org/2000/svg" width="3vh" height="3vh" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            </svg>
          </a>
        </div>
      </div>

      <div class="row">

        <div class="col-4">
          <p>
            <a routerLink="/userPage/{{postModel.authorName}}">
              <img src="/api/user/getAvatarByName/{{postModel.authorName}}" class="avatar-img" />
              {{postModel.authorName}}
            </a>
          </p>
        </div>

        <div class="col-4 text-center">

          <button *ngIf="symbolOnCenter != ''" (click)="clickCircleButton()" type="button" class="btn button-circle"
                  [class.btn-primary]="symbolOnCenter == 'change'"
                  [class.btn-success]="symbolOnCenter == 'ok'">
            <svg *ngIf="symbolOnCenter == 'change'" width="3vh" height="3vh" viewBox="0 0 16 16" class="bi bi-shuffle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M12.646 1.146a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.793 4l-2.147-2.146a.5.5 0 0 1 0-.708zm0 8a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.793 12l-2.147-2.146a.5.5 0 0 1 0-.708z" />
              <path fill-rule="evenodd" d="M0 4a.5.5 0 0 1 .5-.5h2c3.053 0 4.564 2.258 5.856 4.226l.08.123c.636.97 1.224 1.865 1.932 2.539.718.682 1.538 1.112 2.632 1.112h2a.5.5 0 0 1 0 1h-2c-1.406 0-2.461-.57-3.321-1.388-.795-.755-1.441-1.742-2.055-2.679l-.105-.159C6.186 6.242 4.947 4.5 2.5 4.5h-2A.5.5 0 0 1 0 4z" />
              <path fill-rule="evenodd" d="M0 12a.5.5 0 0 0 .5.5h2c3.053 0 4.564-2.258 5.856-4.226l.08-.123c.636-.97 1.224-1.865 1.932-2.539C11.086 4.93 11.906 4.5 13 4.5h2a.5.5 0 0 0 0-1h-2c-1.406 0-2.461.57-3.321 1.388-.795.755-1.441 1.742-2.055 2.679l-.105.159C6.186 9.758 4.947 11.5 2.5 11.5h-2a.5.5 0 0 0-.5.5z" />
            </svg>

            <svg *ngIf="symbolOnCenter == 'ok'" xmlns="http://www.w3.org/2000/svg" width="4vh" height="4vh" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
              <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
            </svg>
          </button>

        </div>

        <div class="col-4 text-end"><p>{{postModel.postedAt | date:'dd.MM.YY HH:mm:ss'}}</p></div>

      </div>

    </div>
  </div>
</div>
