<br />

<div class="container">

  <h1 class="text-center">{{title}}</h1>

  <div class="row align-items-start">

    <div class="col">
      <h4><b>{{idStr}}</b> {{userModel.id}}</h4>
      <h4><b>{{usernameStr}}</b> {{userModel.userName}}</h4>

      <h4><b>{{biographiStr}}</b></h4>
      <span class="fs-5"><i>{{userModel.biographi}}</i></span>
    </div>

    <div class="col">
      <div class="avatar-with-button">
        <img src="/api/file/avatar/{{userModel.avatarFileName ?? 'default_avatar.png'}}" class="avatar-on-profile" />
      </div>
    </div>

    <hr class="bg-danger border-2 border-top border-danger" *ngIf="postItems.length">

    <div *ngFor="let postItem of postItems">
      <post [postModel]="postItem" (click)="goPostPage(postItem.id)" [style.cursor]="'pointer'"></post>
      <br />
    </div>

  </div>

</div>
