<div class="container border border-primary rounded overflow-hidden messaging-card"
     [class.selected]="destinationName == messagingCard.userName"
     (click)="goToMessagingWith(messagingCard.userName)">

  <span class="position-relative">
    <img src="/api/user/getAvatarByName/{{messagingCard.userName}}" class="avatar-img" />
    <span *ngIf="messagingCard.countOfNotViewedMessages > 0"
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      {{messagingCard.countOfNotViewedMessages}}
      <span class="visually-hidden">unread messages</span>
    </span>
  </span>
  &nbsp;
  <label>{{messagingCard.userName}}</label>

</div>
